{{#partial "styles"}}
    <link rel="stylesheet" href="/css/style.css">
{{/partial}}

{{#partial "content"}}

    <div class="background_image">
        <h1>The Wildlife Tracker</h1>
        <p class="main_content">
            Wildlife monitoring is essential for keeping track of animal movement patterns, habitat utilisation,
            population demographics, snaring and poaching incidents and breakouts.
        </p>
        <div class="button">

            <a class="nav-item nav-link" href="/sightings">New Sighting</a>
        </div>

    </div>



{{/partial}}
{{> layout.hbs}}